.ass21 button {
    margin: 50px;
    width: 50px;
    height: 50px;
    border: solid 1px gray;
    background: pink;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.ass22 fieldset {
    width: 400px;
}

.ass22 .khung {
    width: 420px;
}